nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: bisque;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}
.light {
    background-color: bisque;
    color: #333;
}
.dark {
    background-color: #333;
    color: #f0f0f0;
}
header{
    text-align: center;
    font-size: 24px;
}
